/*HEADER*/
.contenedor-navegacion{

    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.contenido-header{
    position: relative;
}

.contenido-header::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
}

.texto-encabezado{

    position: absolute;
    z-index: 2;
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-encabezado h2{

    color:white;
    font-size: 5rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-encabezado h3{
  color:gray;
  font: 2rem;
  align-items:center;
  font-family:Arial, Helvetica, sans-serif;
}

.bordes{
    border:4px solid (rgb(255, 255, 255));

    color:white;

}

.bordes:hover{
    color:rgb(0, 0, 0);
    background-color:white;
}

video{

    width:100%;
    height:100%;
}

/*TEXTO DE PRESENTACION */

.texto-presentacion{
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(238, 234, 234);


}

.contenedor-presentacion{


  display:flex;
  justify-content: space-between;
  padding-top: 5rem;

}


/*IMAGENES DE PRESENTACION*/

.texto-presentacion, .imagenes-presentacion{

  flex: 0 0 calc(50% - 1rem);
}

img{
  max-width: 100%;
}

.imagenes-presentacion{

  display:flex;
  justify-content:space-between;
}

.imagenes-presentacion img{
  margin-left:30px;
  border-radius: 10px;
}

.imagen, .imagen2{

  flex: 0 0 calc(40% - 1rem);
}

.imagen2 img{
  margin-bottom: 1rem;
}

.texto-presentacion .fuente {

  font-size: 2rem;
  color:rgb(172, 171, 171);
}
.texto-presentacion h2{
  display:flex;
  justify-content:left;
}


body  {
  height: 100vh;
  background:linear-gradient(to left, rgb(10, 12, 13), rgb(33, 33, 37), rgb(0, 0, 0));
}

/* el texto de que te espera en el evento*/

.texto-separador{

  display:flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
}

/*cartas*/

.carta1{
  padding-left: 60px;
  padding-right: 60px;
}
  
/*formulario*/

.form-label{
  color:white;
}

.formulario-usuario{
  padding-left:15rem;
  padding-right: 15rem;
  padding-top: 5rem;
}
.texto-separador2{

  display:flex;
  justify-content: center;
  padding-top: 6rem;
 
  font-size: 5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
}
/* Media Queris */

@media screen and (max-width: 450px){
  #texto-encabezado1{  
    width: 10%;
    padding-top: 5rem;
    justify-content: center;
    display:flex;
    font-size: 2.5rem;
  }
  #texto-d-encabezado1{

    display:flex;
    justify-content: center;
    font-size: 1rem;
    color:white;
  }
  #texto-separador1{
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    padding:3rem;
  }

  #imagen-presentacion{
    display:block;
    padding:2rem;


  }

  #primera-imagen{
    display:block;
    margin-bottom: 1rem;
   
  }


}
