/*HEADER*/

header{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding:30px 20px;
  z-index: 3;
}

header .logo{
  position:relative;
  color:white;
  text-decoration:none;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.5s;
  font-family: 'Bodoni Moda', serif;
}
nav{
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 3
}

header ul{
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 3
}
header ul li{
  list-style: none;
  z-index: 3
}

header ul li a{
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
  z-index: 3
}


/*Esto es para que cuando haga scroll, respete el espacio entre el header flotante y el contenido de navegacion*/
section[id]{
  scroll-margin-top:110px;
}


/* A partir del video es esto*/
.contenido-header{
    position: relative;
    
}

.contenido-header::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
}

.texto-encabezado{

    position: absolute;
    z-index: 2;
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-encabezado h2{

    color:white;
    font-size: 5rem;
    align-items: center;
    font-family: 'Bodoni Moda', serif;
}

.texto-encabezado h3{
  color:rgb(196, 188, 188);
  font: 2rem;
  align-items:center;
  font-family: 'Bodoni Moda', serif;
  
}

.bordes{
    border:4px solid (rgb(255, 255, 255));

    color:white;

}


.bordes:hover{
    color:rgb(0, 0, 0);
    background-color:white;
    
}

video{
    width:100%;
    height:100%;
}

.videito{
  
  padding-top: 8rem;
}

.parrafito{
  color:rgb(189, 172, 172);
}


/*este es el texto de bienvenidos y tal*/

.texto-presentacion{
  font-family: 'Bodoni Moda', serif;;
  color:rgb(238, 234, 234);


}

.contenedor-presentacion{


  display:flex;
  justify-content: space-between;
  padding-top: 5rem;

}

.parrafoexplicativo{
  font-size: 1.5rem;
  padding-top: 100px;
}

/*IMAGENES DE PRESENTACION*/

.texto-presentacion, .imagenes-presentacion{

  flex: 0 0 calc(50% - 1rem);
}

img{
  max-width: 100%;
}

.imagenes-presentacion{

  display:flex;
  justify-content:space-between;
}

.imagenes-presentacion img{
  margin-left:30px;
  border-radius: 10px;
}

.imagen, .imagen2{

  flex: 0 0 calc(40% - 1rem);
}

.imagen2 img{
  margin-bottom: 1rem;
}

.texto-presentacion .fuente {

  font-size: 2rem;
  color:rgb(172, 171, 171);
}
.texto-presentacion h2{
  display:flex;
  justify-content:left;
}


body  {
  height: 100vh;
  background:linear-gradient(to left, rgb(10, 12, 13), rgb(33, 33, 37), rgb(0, 0, 0));
}

/* el texto de que te espera en el evento*/

.texto-separador{

  display:flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  font-family: 'Bodoni Moda', serif;
  color:white;
}
 
/*formulario*/
  
 .form-label{
  color:white;
}


.texto-separador2{

  display:flex;
  justify-content: center;
  padding-top: 6rem;
 
  font-size: 4rem;
  font-family: 'Bodoni Moda', serif;
  color:white;
}
.formulario-usuario{
  padding-left:15rem;
  padding-right: 15rem;
  padding-top: 5rem;
  padding-bottom:6rem;
}












